@keyframes :local(slide-top) {
  from {
    margin-top: 32px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
:local .container {
  animation-duration: 100ms;
  animation-delay: 250ms;
  animation-fill-mode: both;
  animation-name: slide-top;
  margin: auto;
  position: relative;
}
:local .tile {
  position: absolute;
  transition: opacity 100ms, left 150ms, top 150ms;
  transition-timing-function: ease-out;
  will-change: opacity, left, top;
}
