:local .top {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 4px;
}
:local .top__more {
  display: block !important;
  margin: 0 auto !important;
}
:local .top__expand {
  position: relative;
  margin: auto;
  margin-right: 0;
}
:local .label {
  font-size: 0.8em;
  cursor: pointer;
  flex: 1;
}
:local .container {
  padding: 0 24px;
  max-height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition-delay: 0s, 200ms;
  transition: max-height 450ms, opacity 600ms;
}
